body {
    overflow: hidden;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

canvas {
    height: -webkit-fill-available;
    object-fit: contain;
    
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#canvasContainer {
    float: left;
    height: -webkit-fill-available;
}

#uiContainer {
    float: left;
    height: -webkit-fill-available;
}

#uiContainer * {
    display: block;
}

p {
    margin-bottom: 0;
}